version: '3.8'

services:
  mongo:
    image: mongodb/mongodb-atlas-local:latest
    container_name: local-atlas
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./data/qdrant:/qdrant/storage
